.proyectos {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.container p {
  text-align: justify;
  font-size: calc(0.1em + 1.3vh);
  line-height: 1.2em;
  padding: 3px 10px;
}

/* ------------ Iframes --------------- */
.contenedor {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: fit-content;
  justify-content: center;
  text-align: center;
}
.card {
  width: 45vw;
  padding: 10px;
  text-align: center;
  margin: 5px;
  background: var(--color5);
  box-sizing: border-box;
  height: fit-content;
}

.card p {
  text-align: center;
}
.titulo {
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 0 15px;
}
