.proyectos {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  width: 100vw;
  padding: 0 0 50px 0;
}

.cards_conteiner {
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: clamp(300px, 90vw, 350px);
  margin: 5px auto;
  padding: 25px 10px;
  background: var(--color5);
  cursor: pointer;
}
.card_div_img {
  width: fit-content;
  background: white;
  border-radius: 50%;
  padding: 10px;
  margin: 0 -35px 0 0;
  z-index: 2;
  box-shadow: 0 0 8px var(--color5);
  border: 2px solid var(--color5);
}
.card_img {
  width: calc(15px + 7vw);
}
.card_div_text {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 85%;
  border: 1px solid black;
}

.card_div_text p {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.titulo {
  background: var(--color4);
  font-weight: bold;
  border-bottom: 1px solid black;
  height: calc(4vh + 1vw);
}
.clickMe {
  background: var(--color3);
  height: calc(6vh + 1vw);
  text-shadow: 1px 1px 1px black;
}

.visible {
  display: none;
}

/* Animation class */

.animation {
  width: 100vw;
  height: 100vh;
  animation: transicionar 0.3s forwards, rotar 1s linear infinite;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-sizing: border-box;
}
.animation::after,
.animation::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent var(--color5) var(--color5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.animation::before {
  width: 32px;
  height: 32px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1.5s linear infinite;
}
@keyframes transicionar {
  0% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    width: 48px;
    height: 48px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 950px;
    margin: 10px auto;
  }
  .card {
    margin: 5px auto;
    background: var(--color5);
    cursor: pointer;
  }
  .card_div_img {
    padding: 10px;
    margin: 0 -35px 0 0;
  }
  .card_img {
    width: 55px;
  }
  .card_div_text {
    width: 85%;
    border: 1px solid black;
  }
}
