.proyectos {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.container p {
  font-size: calc(0.1em + 1.3vh);
  padding: 3px 10px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  height: fit-content;
  margin: 0 auto;
  justify-content: space-around;
}
.card {
  width: 40%;
  height: 25vh;
  padding: 10px 0px;
  margin: 5px auto;
  background: var(--color5);
  cursor: pointer;
}

.card p {
  width: fit-content;
  margin: 10px auto 20px;
  text-align: left;
}
.titulo {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 5px 0 15px;
}
