<section class="proyectos">
  <div [class.animation]="loading">
    <div [class.visible]="delay">
      <div class="box container">
        <p>
          Aquí estan los proyectos finalizados que desarrollé hasta el momento:
        </p>
        <p>
          En primer lugar, un encriptador de texto. Encripta y desencripta las
          vocales del texto ingresado. Utiliza regEx para aceptar unicamente
          letras minusculas, sin acento, sin números ni caracteres especiales.
        </p>
        <p>
          En segundo lugar, el clásico juego del ahorcado. La gráfica esta hecha
          en canvas de manera responsiva.
        </p>
        <p>
          El tercero, Cho-Han es un juego de apuestas. Originalmente lo
          desarrollé en python y lo reescribí en javascript para montarlo en una
          aplicación web.
        </p>
        <p>
          Por último, un e-commerce que forma parte de los #challenge de Alura
          Latam.
        </p>
      </div>

      <div class="contenedor">
        <div class="card box" (click)="redirigir('encriptador')">
          <p class="titulo">Encriptador</p>
          <p>Click me</p>
        </div>

        <div class="card box" (click)="redirigir('ahorcado')">
          <p class="titulo">Ahorcado</p>
          <p>Click me</p>
        </div>
        <div class="card box" (click)="redirigir('chohan')">
          <p class="titulo">Cho - Han</p>
          <p>Click me</p>
        </div>
        <div class="card box" (click)="redirigir('ecommerce')">
          <p class="titulo">e-commerce</p>
          <p>Click me</p>
        </div>
      </div>
    </div>
  </div>
</section>
