<section class="proyectos">
  <div [class.animation]="loading">
    <div [class.visible]="delay">
      <div class="box container">
        <p>
          Aquí estan los proyectos finalizados que desarrollé hasta el momento:
        </p>
        <p>
          En primer lugar, un encriptador de texto. Encripta y desencripta las
          vocales del texto ingresado. Utiliza regEx para aceptar unicamente
          letras minusculas, sin acento, sin números ni caracteres especiales.
        </p>
        <p>
          En segundo lugar, el clásico juego del ahorcado. La gráfica esta hecha
          en canvas de manera responsiva.
        </p>
        <p>
          El tercero, Cho-Han es un juego de apuestas. Originalmente lo
          desarrollé en python y lo reescribí en javascript para montarlo en una
          aplicación web.
        </p>
        <p>
          Por último, un e-commerce que forma parte de los #challenge de Alura
          Latam.
        </p>
      </div>

      <div class="cards_conteiner">
        <div class="card box" (click)="redirigir('encriptador')">
          <div class="card_div_img">
            <img
              class="card_img"
              src="assets/img/encriptador.svg"
              alt="Encriptador"
            />
          </div>
          <div class="card_div_text">
            <p class="titulo">Encriptador de texto</p>
            <p class="clickMe">Click me</p>
          </div>
        </div>

        <div class="card box" (click)="redirigir('ahorcado')">
          <div class="card_div_img">
            <img
              class="card_img"
              src="assets/img/ahorcado.svg"
              alt="Encriptador"
            />
          </div>
          <div class="card_div_text">
            <p class="titulo">Juego del ahorcado</p>
            <p class="clickMe">Click me</p>
          </div>
        </div>
        <div class="card box" (click)="redirigir('chohan')">
          <div class="card_div_img">
            <img class="card_img" src="assets/img/dado.svg" alt="Encriptador" />
          </div>
          <div class="card_div_text">
            <p class="titulo">Juego Cho - Han</p>
            <p class="clickMe">Click me</p>
          </div>
        </div>
        <div class="card box" (click)="redirigir('ecommerce')">
          <div class="card_div_img">
            <img
              class="card_img"
              src="assets/img/tienda.svg"
              alt="Encriptador"
            />
          </div>
          <div class="card_div_text">
            <p class="titulo">E-commerce</p>
            <p class="clickMe">Click me</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
