:host {
  position: fixed;
  bottom: 0;
  z-index: 999;
}
.foot {
  width: 100vw;
  height: fit-content;
  background: var(--color4);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 8px 10px -10px rgba(0, 0, 0, 0.75) inset;
}
.link {
  color: white;
  padding: 0 4px;
}

.foot p {
  font-size: calc(0.4rem + 1.1vw);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
  box-sizing: border-box;
}

.icon {
  background: white;
  border-radius: 50%;
  width: calc(20px + 1vw);
  padding: 1px;
}
.linkedin {
  background: white;
  width: calc(20px + 1vw);
  border-radius: 2px;
}
