.container_ec {
  padding: 10px 0 20px;
}
.change {
  display: flex;
  justify-content: flex-end;
}
.change .btn_ec {
  margin: 10px 20px 15px;
}

.group {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #04bf9d, #027368);
  margin: 0 auto 10px;
  width: 190px;
  height: auto;
  padding: 5px 10px;
}

.title_ec {
  text-align: center;
  font-size: 1.3rem;
  margin: 3px auto 5px;
}

.imagen_producto {
  width: 150px;
}

/* -------------------------------- */
.caja {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
p {
  font-size: 16px;
  color: white;
  padding: 3px 15px;
  font-weight: bolder;
}

.carritoVacio {
  text-align: center;
  margin: 50px auto;
  height: fit-content;
}

span {
  font-size: 80%;
  padding: 15px 2px;
  color: yellow;
  font-weight: bolder;
}
.title_carrito_vacio {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: lighter;
}
.carritoVacio a {
  margin: 2px auto;
}
