<app-header-ecommerce></app-header-ecommerce>
<section>
  <div class="change" *ngIf="!carritoVacio">
    <button
      type="button"
      *ngIf="!modificar"
      class="btn"
      (click)="modificarUnidades()"
    >
      Cambiar Unidades
    </button>

    <button
      type="button"
      *ngIf="modificar"
      class="btn"
      (click)="modificarUnidades()"
    >
      Echo
    </button>
  </div>
  <div class="group">
    <div class="producto box" *ngFor="let i of productos; let in = index">
      <h2 class="titulo">{{ i.nombre }}</h2>
      <img
        class="imagen_producto"
        src="{{ i.src }}"
        alt="Imagen {{ i.nombre }}"
      />
      <div [ngSwitch]="modificar">
        <div *ngSwitchCase="false" class="caja">
          <p>Unidades: {{ cantidades[i.nombre] }}</p>
        </div>
        <div *ngSwitchCase="true" class="caja">
          <button type="button" class="btn" (click)="cambiarUnidades(i, '-')">
            -
          </button>
          <p class="precio_producto">{{ cantidades[i.nombre] }}</p>
          <button type="button" class="btn" (click)="cambiarUnidades(i, '+')">
            +
          </button>
        </div>
      </div>
      <p class="total">
        Total: {{ montoTotal(i) | currency: "$":"symbol":"2.0"
        }}<span *ngIf="i.descuento"> -{{ i.descuento }}%</span>
      </p>
      <button
        type="button"
        *ngIf="modificar"
        (click)="eliminarProducto(in)"
        class="btn"
      >
        Eliminar
      </button>
    </div>
  </div>
  <button type="button" *ngIf="!carritoVacio" class="btn">
    Pagar productos
  </button>
  <div *ngIf="carritoVacio" class="carritoVacio">
    <p class="titulo">Carrito Vacio</p>
    <a class="btn" [routerLink]="['/proyectos', 'ecommerce', '']"
      >Regresar al Home</a
    >
  </div>
</section>
<app-footer-ecommerce></app-footer-ecommerce>
