<header>
  <div class="cabecera">
    <a routerLink="home"
      ><img
        class="logo_geek logo_superior"
        src="assets/ecommerce/img/logo.svg"
        alt="Logo del e-commerce"
    /></a>
    <div class="searcher">
      <input
        type="text"
        id="input_buscador"
        placeholder="Buscar en esta página &#x1f50d;"
        class="input_buscador input"
        autocomplete="off"
      />
      <img
        class="icon_search"
        src="assets/ecommerce/img/search.png"
        alt="Logo Buscador"
        onclick="searchElement()"
      />
    </div>
    <a routerLink="login"><button class="button login">Login</button></a>
  </div>
</header>
