.cabecera {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: #04bf9d;
  height: 10vh;
  box-shadow: inset 0px -1px 3px black;
}
.cabecera a {
  text-decoration: none;
}
.logo_geek {
  height: 8vh;
  margin: 0px 5px;
}
.logo_superior {
  display: flex;
}
.searcher {
  position: absolute;
  right: 5px;
  display: flex;
  align-items: center;
  width: auto;
}

.input_buscador {
  display: block;
  width: 0vw;
  opacity: 0;
  height: 5vh;
  margin: 0px 10px 0px 0px;
}

.login {
  display: block;
  margin: 0px 5.5vh 0px 0px;
}
.icon_search {
  right: 5px;
  height: 5vh;
}
.icon_search:hover {
  box-shadow: 1px 1px 3px black;
  border-radius: 5px;
}
