.div_contacto {
  width: 100%;
  padding: 0px 10px;
}
.titulo {
  width: fit-content;
  font-size: 7vw;
  font-family: "Akaya Telivigala", cursive;
  border-bottom: 2px solid white;
  margin: 3px auto 10px;
}

.contact_content {
  width: 100%;
  height: fit-content;
}

.form {
  display: grid;
  grid-template-columns: 17% 60% 23%;
  grid-template-rows: 50px 80px;
  grid-template-areas: "a b c" "d e c";
  justify-items: center;
  margin: 0 auto 10px;
  align-items: center;
  width: 100%;
  font-size: calc(0.4rem + 1.2vw);
}
.label {
  padding: 2px;
}
label[for="name"] {
  grid-area: a;
}
label[for="message"] {
  grid-area: d;
}

.name {
  height: 50%;
  grid-area: b;
}
.mensaje {
  height: 90%;
  grid-area: e;
}
.email {
  opacity: 0;
}
.btn {
  width: 85%;
  grid-area: c;
  padding: 10px 2px;
}

.formulario {
  width: 90vw;
  margin: 10px auto 0px;
  height: 54vh;
  background: var(--color5);
  overflow: hidden;
}
.iframe {
  width: 100%;
  height: 65vh;
  padding-top: 0;
  transform-origin: 50% top;
  transform: scale(0.8);
}
