main {
  padding: 0 0 55px 0;
}
.div_contacto {
  width: 100%;
  padding: 0px 10px;
}
.title {
  margin: 0 auto 10px;
}

.contact_content {
  width: 100%;
  height: fit-content;
}

.form {
  display: grid;
  grid-template-columns: 17% 60% 23%;
  grid-template-rows: 50px 50px 80px;
  grid-template-areas: "a b c" "f g c" "d e c";
  justify-items: center;
  margin: 0 auto 10px;
  align-items: center;
  width: 100%;
  font-size: calc(8px + 1.5vw);
}
.label {
  padding: 2px;
}
label[for="name"] {
  grid-area: a;
}
label[for="correo"] {
  grid-area: f;
}
label[for="message"] {
  grid-area: d;
}

.name {
  height: 70%;
  grid-area: b;
}
.correo {
  height: 70%;
  grid-area: gnpm start;
}
.mensaje {
  height: 100%;
  grid-area: e;
}

.btn {
  width: 85%;
  height: 30%;
  padding: 0;
  grid-area: c;
}

@media screen and (min-width: 1024px) {
  main {
    display: flex;
    justify-content: center;
  }
  .container {
    width: 600px;
  }
  .title {
    margin: 0 auto 30px;
  }

  .label {
    font-size: 16px;
    padding: 2px;
  }
  .btn {
    font-size: 18px;
  }
}
