<header class="cabecera">
  <a (click)="redirigir('home')" *ngIf="!buscador"
    ><img
      class="logo_geek"
      src="assets/ecommerce/img/logo.svg"
      alt="Logo del e-commerce"
  /></a>
  <form *ngIf="buscador" class="search">
    <input
      type="text"
      placeholder="Buscar articulo"
      class="input_text input"
      autocomplete="off"
      [formControl]="searchInput"
    />
    <div class="resultados" *ngIf="searchInput.valid && searchInput.dirty">
      <div class="matches" *ngFor="let i of matches">
        <img src="{{ i.src }}" alt="{{ i.nombre }}" />
        <p>{{ i.nombre }}</p>
        <p>${{ i.precio }}</p>
      </div>
      <a class="ver_todo">Ver Todo</a>
    </div>
  </form>
  <a *ngIf="!buscador" (click)="redirigir('login')" class="btn button">Login</a>
  <div [ngSwitch]="buscador">
    <img
      *ngSwitchCase="false"
      class="btn box caja"
      src="assets/ecommerce/img/search.png"
      alt="Logo Buscador"
      (click)="openSearch()"
    />
    <img
      *ngSwitchCase="true"
      class="btn caja"
      src="assets/ecommerce/img/searchX.png"
      alt="Logo Buscador"
      (click)="openSearch()"
    />
  </div>
</header>
