p {
  font-size: calc(9px + 1vw);
  text-align: justify;
  line-height: calc(12px + 1vw);
}
.container p {
  padding: 0 0 10px;
  font-size: calc(11px +1vw);
  text-indent: 10px;
}
.input_text::placeholder {
  font-size: calc(0.2em + 2vw);
}
.btn {
  padding: 30px;
  margin: 10px 20px 10px;
  font-size: calc(0.4rem + 2vw);
}
.popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  background: var(--color4);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid var(--color5);
  z-index: 10;
}
