main {
  min-height: 55vh;
}
.container {
  width: fit-content;
  padding: 10px;
}

.container p {
  padding: 15px 10px 10px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input_text {
  width: 85vw;
  height: 40px;
  margin: 10px auto;
}
.input {
  width: 100px;
  text-align: center;
}
.input_box {
  flex-direction: row;
  margin: 0 auto;
}

.btn {
  padding: 10px;
  margin: 5px 10px;
}

.iniciar_juego {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
.invisible {
  display: none;
}

.ng-dirty.ng-invalid {
  outline: 2px solid red;
}
/* ---------Canvas------- */
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 0px;
  width: 98vw;
}
.ahorcado {
  border: 5px solid var(--color5);
  padding: 0;
  border-radius: 20px;
  background: linear-gradient(-45deg, #dbfaf1, #b1f7e2);
}
