main {
  min-height: 55vh;
  padding: 0 0 50px 0;
}
.container {
  width: fit-content;
  padding: 10px;
}

.container p {
  width: 60%;
  text-align: center;
  padding: 15px 10px 10px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: clamp(250px, 75vw, 500px);
  margin: 0 auto;
}

.input_text {
  width: 100%;
  height: 40px;
  margin: 10px auto;
}

.input {
  width: 100px;
  text-align: center;
}
.input_box {
  flex-direction: row;
  margin: 0 auto;
}

.btn {
  padding: 10px;
  margin: 5px 10px;
}

.iniciar_juego {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
.invisible {
  display: none;
}

.ng-dirty.ng-invalid {
  outline: 2px solid red;
}
/* ---------Canvas------- */
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 0px;
  width: 98vw;
}
.ahorcado {
  border: 5px solid var(--color5);
  padding: 0;
  border-radius: 20px;
  background: linear-gradient(-45deg, #dbfaf1, #b1f7e2);
}
@media screen and (orientation: landscape) {
  main {
    min-height: 93vh;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    margin: 15px auto 3px;
  }
  .btn {
    font-size: 18px;
  }
}
