<main class="body">
  <div class="saldo box container">
    <p>Saldo: &cent; {{ billetera }}</p>
    <p>Apuesta: {{ apostando }}</p>
  </div>
  <div class="resultado box container">
    <p>Resultado: {{ resultado }}</p>
    <p>Paridad: {{ paridad }}</p>
  </div>
  <h1 class="box container titulo">Comienza el Juego</h1>
  <section class="section1">
    <div class="presentacion box container">
      <form class="form form_nombre" *ngIf="visible">
        <input
          type="text"
          placeholder="¿Cuál es tu nombre?"
          class="input_text input"
          autocomplete="off"
          [formControl]="nameInput"
        />
        <input
          type="number"
          placeholder="Shibas a apostar"
          class="input_text input"
          min="1"
          autocomplete="off"
          [formControl]="billeteraInput"
        />
        <button
          type="button"
          class="btn"
          (click)="start()"
          [disabled]="nameInput.invalid || billeteraInput.invalid"
        >
          Start!
        </button>
      </form>
      <div *ngIf="!visible">
        <div [ngSwitch]="switchMensaje">
          <p class="text" *ngSwitchCase="'bienvenida'">
            Bienvenido {{ nombre }},<br />Apuesta y Gana!
          </p>
          <p class="text gano" *ngSwitchCase="'gano'">Felicidades Ganó!!</p>
          <p class="text perdio" *ngSwitchCase="'perdio'">Usted Perdió!</p>
          <p class="text" *ngSwitchCase="'despedida'">
            Muchas Gracias {{ nombre }} por jugar, hasta la próxima!
          </p>
        </div>
        <div [ngSwitch]="SaldoSuficiente">
          <p class="text" *ngSwitchCase="'disponible'">
            Saldo disponible: &cent;{{ billetera }}
          </p>
          <p class="text" *ngSwitchCase="'insuficiente'">
            Saldo insuficiente para seguir jugando
          </p>
          <p class="text" *ngSwitchDefault=""></p>
        </div>
      </div>
      <div class="continuar" *ngIf="pregunta">
        <p class="text">¿Desea continuar?</p>
        <button class="btn si_cont" (click)="deseaSeguir('si')">Si</button>
        <button class="btn no_cont" (click)="deseaSeguir('no')">No</button>
      </div>
    </div>
    <div class="apuestas box container">
      <div class="form_apuestas">
        <input
          type="number"
          placeholder="¿Cuánto apostará?"
          class="input_text apuesta"
          autocomplete="off"
          min="1"
          [max]="billetera"
          [formControl]="apuestasInput"
        />
        <button
          type="button"
          class="btn"
          [disabled]="apuestasInput.invalid || apuestasInput.disabled"
          (click)="jugar('par')"
        >
          Par
        </button>
        <button
          type="button"
          class="btn"
          [disabled]="
            apuestasInput.invalid ||
            apuestasInput.value == '' ||
            apuestasInput.disabled
          "
          (click)="jugar('impar')"
        >
          Impar
        </button>
      </div>
    </div>

    <div class="container_dados container box">
      <div class="cont_dados box">
        <!-- -------------Dado1--------------- -->
        <div class="dado1 cara1">
          <div id="valor1_1" class="cir1 circulo1"></div>
          <div id="valor2_1" class="cir1 circulo2"></div>
          <div id="valor3_1" class="cir1 circulo3"></div>
          <div id="valor4_1" class="cir1 circulo4"></div>
          <div id="valor5_1" class="cir1 circulo5"></div>
          <div id="valor6_1" class="cir1 circulo6"></div>
          <div id="valor7_1" class="cir1 circulo7"></div>
        </div>

        <!-- -------------Dado2--------------- -->
      </div>
      <div class="cont_dados box">
        <div class="dado2 cara2">
          <div id="valor1_2" class="cir2 circulo1"></div>
          <div id="valor2_2" class="cir2 circulo2"></div>
          <div id="valor3_2" class="cir2 circulo3"></div>
          <div id="valor4_2" class="cir2 circulo4"></div>
          <div id="valor5_2" class="cir2 circulo5"></div>
          <div id="valor6_2" class="cir2 circulo6"></div>
          <div id="valor7_2" class="cir2 circulo7"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="ultimos_resultados box container">
    <table class="tabla">
      <thead class="titulos">
        <tr>
          <th class="titulo_col">N°</th>
          <th class="titulo_col">Apuesta</th>
          <th class="titulo_col">Resultado</th>
          <th class="titulo_col">Billetera</th>
        </tr>
      </thead>
      <tbody class="cuerpo_tabla">
        <tr *ngFor="let objeto of registros; let i = index" class="rows">
          <td>{{ i + 1 }}</td>
          <td>{{ objeto.apuesta }}</td>
          <td [ngClass]="objeto.gano == 'gano' ? 'gano' : 'perdio'">
            {{ objeto.gano }}
          </td>
          <td>{{ objeto.saldo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
