.container_ec {
  padding: 10px 0 20px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  margin: 10px auto 10px;
  width: clamp(210px, 75vw, 450px);
  padding: 5px 10px 5px;
  color: white;
  background: linear-gradient(180deg, #04bf9d, #027368);
}
.requisitos p {
  font-size: 16px;
  font-weight: bolder;
  text-shadow: 1px 1px black;
  margin-top: 5px;
}
.title_ec {
  font-size: 28px;
  padding: 5px 0 15px;
}

label {
  width: 80%;
  margin: 3px 0 0;
}
.input_text {
  margin: 5px 0 0;
  width: 100%;
  height: 35px;
  outline: 2px solid var(--color6);
}

.div {
  width: fit-content;
  padding: 10px 15px 5px;
  margin: 20px auto 0;
}
.title_dos {
  font-size: 22px;
  padding: 0 0 5px;
}
.volver_login {
  margin: 0 0 10px 10px;
}
small {
  margin: 3px auto;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  height: fit-content;
}
.title_yaRegistrado {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: lighter;
}
.login a {
  margin: 2px auto;
}
.loggin {
  padding: 70px 0;
}

@media screen and (min-width: 768px) {
  .requisitos p {
    font-size: 20px;
    margin-top: 5px;
  }
  .title_ec {
    font-size: 38px;
    padding: 5px 0 15px;
  }
  label {
    font-size: 18px;
    margin: 7px 0 0;
  }
  .input_text {
    margin: 8px 0 0;
    height: 45px;
  }
  .container_ec {
    padding: 20px 0 20px;
  }
  .form {
    margin-top: 20px;
  }
  .loggin {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1024px) {
  .container_ec {
    padding: 15px 0 25px;
  }
  .form {
    margin: 0 auto 10px;
  }

  .title_dos {
    font-size: 28px;
  }
}
