.titulo,
.aclaracion {
  margin: 5px auto;
}
.aclaracion {
  width: 70%;
  text-align: center;
}
section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 98vw;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
.btn {
  padding: 7px 15px;
  margin: 3px auto 8px;
}
.input_text {
  height: 24vh;
  margin: 2vh auto 0px;
}
.ng-dirty.ng-invalid {
  outline: 2px solid red;
}
