<div class="box container">
  <p>
    Creo que tener las herramientas adecuadas y un plan de trabajo reduce
    significativamente el tiempo invertido en realizar una tarea. Una frase
    conocida hace tiempo lo resume de esta manera:
    <cite
      >"Dame 6 horas para cortar un árbol y pasaré 4 afilando el hacha" -
      Abraham Lincoln.
    </cite>
  </p>
  <p>
    Por ello, actualmente me perfecciono en estas herramientas y lenguajes de
    programación a través de la práctica sostenida regurosamente día a día.
  </p>
  <p>
    Inmediatamente despues de este proyecto, seguiré mi formación en react y
    bootstrap.
  </p>
</div>

<div class="box_skills">
  <div class="skill box">
    <img class="logo box" src="assets/img/html.svg" alt="html" />
    <p>
      Este lenguaje de etiquetas lo desarrollé en casi todos los cursos hasta
      ahora y tener en claro su semántica es fundamental para el SEO.
    </p>
  </div>
  <div class="skill box">
    <img class="logo box" src="assets/img/css3.svg" alt="css" />
    <p>
      La creatividad es una parte importante pero pequeña del trabajo. Lo
      fundamental esta en "atornillarse a la silla" y dedicarle el tiempo
      necesario para desarrollar el estilo propio.
    </p>
  </div>
  <div class="skill box">
    <img class="logo box" src="assets/img/javascript.svg" alt="js" />
    <p>
      Someterse a la disciplina de la programación requiere estructura, orden y
      estrategia. Este lenguaje me enseñó la importancia de la fragmentación de
      los problemas y la reutilización del código.
    </p>
  </div>
  <div class="skill box">
    <img class="logo box" src="assets/img/python.svg" alt="python" />
    <p>
      Inicié la lógica de programación autodidacta con python por recomendación,
      debido a su simpleza. Con este lenguaje realizé prácticas de juegos,
      webscripting con manipulación de Excel.
    </p>
  </div>
  <div class="skill box">
    <img class="logo box" src="assets/img/angular.svg" alt="ruby" />
    <p>
      Desarrollado en Argentina Programa, este portafolio esta realizado con
      este framework. Me brindó una experiencia muy estructurada y enmarcada en
      su rigurosidad.
    </p>
  </div>
  <div class="skill box">
    <img class="logo box" src="assets/img/git.svg" alt="logo box git" />
    <p>
      Lo incorporo en todos mis proyectos ya que su uso es indispensable para el
      control y registro del trabajo individual y en equipo. Con ayuda de Github
      y de Trello, es más sencillo la organización.
    </p>
  </div>
  <div class="skill box">
    <img
      class="logo box"
      src="assets/img/vsc.svg"
      alt="logo box Visual Studio Code"
    />
    <p>
      Gracias a sus extenciones, trato de personalizar mi area de trabajo y de
      explotar todas las herramientas que me brinda esta IDE.
    </p>
  </div>
  <div class="skill box">
    <img class="logo box" src="assets/img/java.svg" alt="logo box java" />
    <p>
      Tengo poca practica con la sintaxis, sin embargo, tengo muchas ansias de
      profundizar en este lenguaje para indagar en sus aplicaciones.
    </p>
  </div>
</div>
