.box_skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 0 50px 0;
}
.skill {
  width: 45vw;
  margin: 5px auto;
  background: var(--color5);
}
.skill p {
  text-indent: 10px;
  padding: 5px;
}
.logo {
  float: left;
  margin: 4px 5px;
  padding: 3px;
  height: calc(48px + 1vw);
  max-height: 80px;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
}
