p {
  font-size: 16px;
  padding: 3px 2px;
}
.container_descuento {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span {
  font-size: smaller;
  padding: 0 5px;
  color: red;
  font-weight: bolder;
}

/* ---------- Slider ---------- */

.slider {
  position: relative;
  width: clamp(190px, 70vw, 400px);
  height: fit-content;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid black;
  box-shadow: 1px 1px 2px black;
}
.slider p,
.slider a {
  color: white;
}
.slider ul {
  display: flex;
  animation: cambio 15s infinite alternate;
  width: 300%;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
  height: 100%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  29% {
    margin-left: 0;
  }

  44% {
    margin-left: -100%;
  }
  68% {
    margin-left: -100%;
  }

  89% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}
.promocion {
  position: absolute;
  background: #25365970;
  width: 75%;
  bottom: 5px;
  left: 5px;
  color: white;
  text-shadow: 1px 1px black;
  border-radius: 10px;
  padding: 5px 5px 1px;
}
.promocion h2 {
  font-size: 1rem;
  font-weight: bolder;
  padding: 1px 0 4px;
}
.promocion p {
  font-size: 0.9rem;
  padding: 3px 0px;
}

/* ------ Conteiner Productos ---------- */
.title_group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 95%;
}

.title_ec {
  font-size: 2rem;
  margin: 10px;
}
.precioAnterior {
  text-decoration: line-through;
}
.link {
  font-size: 0.9rem;
  font-weight: bold;
  color: #000;
  text-shadow: 1px 1px var(--color6);
  text-decoration: underline 2px black;
}
.groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 300px;
  margin: 10px auto;
  overflow: hidden;
}

.producto {
  width: 150px;
  margin: 10px auto;
  cursor: pointer;
}
.producto p {
  text-shadow: none;
}
.producto:hover {
  transform: scale(1.05);
  transition: all 500ms;
}
.imagen_producto {
  width: 100%;
}
p.precio_producto {
  font-size: 1.2rem;
  font-weight: bolder;
}
.verTodo {
  height: fit-content;
}

.ver_producto {
  text-align: center;
  text-decoration: underline;
  color: var(--color6);
}
@media screen and (min-width: 768px) {
  .promocion h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1px 0 4px;
  }
  .promocion p {
    font-size: 1.4rem;
    padding: 3px 0px;
  }
  .producto {
    margin: 10px 8px;
  }
}
