<app-header-ecommerce [itemList]="itemList"></app-header-ecommerce>
<main class="body">
  <div class="slider">
    <div class="promocion">
      <h2>Mes Promocional</h2>
      <p>Productos seleccionados con 40% de descuento</p>
      <button class="btn box">
        <a href="./Todos_Productos.html">Ver Catálogo</a>
      </button>
    </div>
    <ul>
      <li>
        <img src="assets/ecommerce/img/Portada_mario.png" />
      </li>
      <li>
        <img src="assets/ecommerce/img/Portada_Play.png" />
      </li>
      <li>
        <img src="assets/ecommerce/img/Portada_atari.png" />
      </li>
    </ul>
  </div>
  <div *ngFor="let group of itemList">
    <div class="groups">
      <div class="header">
        <h2 class="titulo">{{ group.name }}</h2>
        <a href="#" class="link">Ver Todo</a>
      </div>
      <figure
        class="producto"
        *ngFor="let i of group.array; let in = index"
        (click)="verProducto(group.array, in)"
      >
        <img
          class="imagen_producto"
          src="{{ i.src }}"
          alt="Imagen {{ i.src }}"
          loading="lazy"
        />
        <figcaption>
          <p class="descripcion_producto">{{ i.nombre }}</p>
          <p class="precio_producto">${{ i.precio }}</p>
          <p class="ver_producto">Ver Producto</p>
        </figcaption>
      </figure>
    </div>
  </div>
  <app-footer-ecommerce></app-footer-ecommerce>
</main>
