@import "~normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Cabin+Condensed:wght@600&family=Montserrat&family=Nerko+One&display=swap");
:root {
  --color1: #3c40a4;
  --color2: #4d68f0;
  --color3: #8697fe;
  --color4: #003567;
  --color5: #119e99;
  --color6: #f27457;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    45deg,
    var(--color3),
    var(--color2),
    var(--color1)
  );
  background-repeat: no-repeat;
  color: white;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}
.box {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.55) 2.4px 2.4px 3.2px;
}
.container {
  height: fit-content;
  width: 95vw;
  background: var(--color4);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 10px 5px 5px;
}

.link {
  color: white;
  text-decoration: underline;
}

.link:visited {
  color: whitesmoke;
}
.link_icon {
  fill: white;
  width: 16px;
  margin: 0px 5px;
}
.input_text {
  width: 90%;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  border-style: none;
  border: 2px solid var(--color5);
}
.input_text:focus {
  outline: 2px solid var(--color5);
}
.input_text::placeholder {
  font-size: calc(0.2em + 2vw);
  width: 100%;
  padding: 5px 10px;
  text-align: center;
  box-sizing: border-box;
}
.btn {
  background: var(--color5);
  width: fit-content;
  color: white;
  font-size: calc(0.4rem + 2vw);
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.55) 2.4px 2.4px 3.2px;
}

.btn:active {
  box-shadow: inset rgba(0, 0, 0, 0.55) 2.4px 2.4px 3.2px;
}
.popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  background: var(--color4);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid var(--color5);
  z-index: 10;
}
.ng-invalid.ng-dirty {
  border: 1px solid red;
  outline: 1px solid red;
}
/* ----- Estilos globales E-commerce ----- */
.container_ec {
  background: white;
  padding: 10px 0 0;
  font-family: "Cabin Condensed", sans-serif;
  color: black;
}

.btn_ec {
  background: var(--color6);
  padding: 3px 7px;
  margin: 10px 0px;
  font-family: "Nerko One", cursive;
  font-weight: lighter;
  font-size: 1.3rem;
  text-shadow: 1px 1px black;
  color: white;
  border-radius: 5px;
}
.btn_ec:active {
  box-shadow: inset rgba(0, 0, 0, 0.55) 2.4px 2.4px 3.2px;
}
.title_ec {
  text-shadow: 1px 1px var(--color6);
  text-decoration: underline 3px black;
  font-family: "Nerko One", cursive;
  font-weight: lighter;
  color: #000;
}
