<header class="box container">
  <div class="box1">
    <img class="box" src="assets/img/foto.png" alt="Foto Perfil" />
    <h3 class="titulo">Bienvenido/a</h3>
  </div>

  <div class="box2">
    <p>
      Mi nombre es Heber Duarte, tengo 30 años y vivo en la ciudad de Posadas,
      Misiones, Argentina.
    </p>
    <p>
      Soy estudiante de desarrollo web desde mediados del 2021. Antes de eso, me
      formé en matemáticas en el profesorado de la Universidad Nacional de
      Misiones. Por lo que cuento con bases solidas en lógica proposicional,
      análisis matemático, álgebra, etc.
    </p>
    <p>
      Desde entonces, he estudiado de forma autodidacta, con recursos que pude
      encontrar en distintas páginas web como FreeCodeCamp, Pildoras
      Informaticas, Soy Dalto, Udemy. Además, pronto estaré cursando la
      formacion de Amazon Web Service y el programa full stack de Cono Sur Tech.
    </p>
    <p>
      Actualmente estoy desarrollando dos programas de formación en
      programación:
    </p>
  </div>
</header>

<div class="programas">
  <div class="div_programa box">
    <div class="div_logo logo">
      <img class="alura" src="assets/img/alura.png" alt="logo oracle" />
      <img class="oracle" src="assets/img/oracle.png" alt="logo oracle" />
    </div>
    <p>
      <a
        class="link_section1"
        target="_blank"
        href="https://www.oracle.com/ar/education/oracle-next-education/"
        >One - Oracle Next-Education</a
      >, es desarrollado en la plataforma de aprendizaje Alura Latam, en la que
      estamos trabajando habilidades Front-end (html, css, javascript); en breve
      estudiaremos en profundidad el lenguaje Java y además nos brindan
      capacitaciones soft skills. Finalización: Julio 2022.
    </p>
  </div>
  <div class="div_programa box">
    <img class="logo" src="assets/img/argpro.png" alt="logo" />
    <p>
      <a
        class="link-section1"
        target="_blank"
        href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"
        >#YoProgramo</a
      >
      es la segunda etapa de la propuesta Argentina Programa. Se desarrolla en
      los siguientes modulos: Introducción a desarrollo web y aplicaciones;
      Front End: estático (html, css y javascript), Dinámico (Angular); Bases de
      datos; POO - Buenas prácticas de programación; Java; Java Spring boot; Dev
      Ops. Finalización: Septiembre 2022.
    </p>
  </div>
  <div class="div_programa box">
    <img
      class="logo"
      src="https://ltwmcg.infiniteuploads.cloud/sites/53/2021/09/YQP_Logo_WEB3_blanco.png"
      alt="Logo"
    />
    <p>
      <a
        class="link_section1"
        target="_blank"
        href="https://yoquieroprogramar.conosur.tech/programa/"
        >Yo Quiero Programar</a
      >
      pertenece a ConoSur Tech. En él vamos a desarrollar el siguiente stack que
      consta de 6 diplomados: 1- HTML & CSS; 2- Fundamentos de Programación; 3-
      JavaScript; 4- Programación en C#; 5- Fundamentos de Bases de Datos; 6-
      Fundamentos de DevOps. Pendiente de inicio.
    </p>
  </div>
</div>
