<header class="box container">
  <div class="box1">
    <img class="box picture" src="assets/img/foto.webp" alt="Foto Perfil" />
    <h3 class="title">Bienvenido/a</h3>
  </div>

  <div class="box2">
    <p>
      Mi nombre es Heber Duarte, tengo 30 años y vivo en la ciudad de Posadas,
      Misiones, Argentina.
    </p>
    <p>
      Soy estudiante de desarrollo web desde mediados del 2021. Antes de eso, me
      formé en matemáticas en el profesorado de la Universidad Nacional de
      Misiones. Por lo que cuento con bases solidas en lógica proposicional,
      análisis matemático, álgebra, etc.
    </p>
    <p>
      Desde entonces, he estudiado de forma autodidacta, con recursos que pude
      encontrar en distintas páginas web como FreeCodeCamp, Pildoras
      Informaticas, Soy Dalto, Udemy. Además, pronto estaré cursando la
      formacion de Amazon Web Service y el programa full stack de Cono Sur Tech.
    </p>
    <p>
      Actualmente estoy desarrollando dos programas de formación en
      programación:
    </p>
  </div>
</header>

<div class="programs">
  <div class="card box">
    <div class="div_logo">
      <img class="alura" src="assets/img/alura.webp" alt="logo oracle" />
      <img class="oracle" src="assets/img/oracle.webp" alt="logo oracle" />
    </div>

    <p class="card_textOne card_text">
      <a
        class="cards_title link"
        target="_blank"
        href="https://www.oracle.com/ar/education/oracle-next-education/"
        >Oracle Next-Education<svg viewBox="0 0 32 32" class="link_icon">
          <path
            d="M27 16.77a1 1 0 0 0-1 1V25a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h7.23a1 1 0 0 0 0-2H7a3 3 0 0 0-3 3v18a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3v-7.23a1 1 0 0 0-1-1z"
          ></path>
          <path
            d="M27 4h-6.42a1 1 0 0 0 0 2h4l-10.2 10.21a1 1 0 0 0 0 1.41 1 1 0 0 0 .7.3 1 1 0 0 0 .71-.3L26 7.41v4a1 1 0 1 0 2 0V5a1 1 0 0 0-1-1z"
          ></path></svg
      ></a>
      Es desarrollado en la plataforma de aprendizaje Alura Latam, en la que
      estamos trabajando habilidades Front-end (html, css, javascript); en breve
      estudiaremos en profundidad el lenguaje Java y además nos brindan
      capacitaciones soft skills. Finalización: Julio 2022.
    </p>
  </div>
  <div class="card box">
    <img class="logo" src="assets/img/argpro.webp" alt="logo" />
    <a
      class="cards_title link"
      target="_blank"
      href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"
      >#YoProgramo
      <svg viewBox="0 0 32 32" class="link_icon">
        <path
          d="M27 16.77a1 1 0 0 0-1 1V25a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h7.23a1 1 0 0 0 0-2H7a3 3 0 0 0-3 3v18a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3v-7.23a1 1 0 0 0-1-1z"
        ></path>
        <path
          d="M27 4h-6.42a1 1 0 0 0 0 2h4l-10.2 10.21a1 1 0 0 0 0 1.41 1 1 0 0 0 .7.3 1 1 0 0 0 .71-.3L26 7.41v4a1 1 0 1 0 2 0V5a1 1 0 0 0-1-1z"
        ></path></svg
    ></a>
    <p class="card_text">
      Es la segunda etapa de la propuesta Argentina Programa. Se desarrolla en
      los siguientes modulos: Introducción a desarrollo web y aplicaciones;
      Front End: estático (html, css y javascript), Dinámico (Angular); Bases de
      datos; POO - Buenas prácticas de programación; Java; Java Spring boot; Dev
      Ops. Finalización: Septiembre 2022.
    </p>
  </div>
  <div class="card box">
    <img class="logo" src="assets/img/yqp.webp" alt="Logo" />
    <a
      class="cards_title link"
      target="_blank"
      href="https://yoquieroprogramar.conosur.tech/programa/"
      >Yo Quiero Programar<svg viewBox="0 0 32 32" class="link_icon">
        <path
          d="M27 16.77a1 1 0 0 0-1 1V25a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h7.23a1 1 0 0 0 0-2H7a3 3 0 0 0-3 3v18a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3v-7.23a1 1 0 0 0-1-1z"
        ></path>
        <path
          d="M27 4h-6.42a1 1 0 0 0 0 2h4l-10.2 10.21a1 1 0 0 0 0 1.41 1 1 0 0 0 .7.3 1 1 0 0 0 .71-.3L26 7.41v4a1 1 0 1 0 2 0V5a1 1 0 0 0-1-1z"
        ></path></svg
    ></a>
    <p class="card_text">
      Pertenece a ConoSur Tech. En él vamos a desarrollar el siguiente stack que
      consta de 6 diplomados: 1- HTML & CSS; 2- Fundamentos de Programación; 3-
      JavaScript; 4- Programación en C#; 5- Fundamentos de Bases de Datos; 6-
      Fundamentos de DevOps. Pendiente de inicio.
    </p>
  </div>
</div>
