/* ---------- Header ---------- */
.box1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 3vw auto 4vw;
}
.picture {
  height: clamp(78px, 25vw, 120px);
  width: clamp(78px, 25vw, 120px);
  border-radius: 50%;
  box-shadow: 0px 0px 14px var(--color5);
}

.box2 p {
  margin: 0 auto;
}

/* ---------- Cards ---------- */
.programs {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 50px 0;
}
.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: clamp(300px, 95vw, 350px);
  margin: 0px auto 15px;
  background: var(--color5);
}

.div_logo {
  display: flex;
  flex-direction: column;
  width: fit-content;
  overflow: hidden;
  border-radius: 4px;
  margin: 4px 5px 0px;
}
.logo {
  float: left;
  margin: 4px 5px 0px;
  width: 45%;
}
.alura,
.oracle {
  height: calc(40px + 1vw);
  border-radius: 5px;
  margin: 0px -2px 0 -1px;
}

.cards_title {
  display: block;
  font-weight: bolder;
  text-align: center;
  padding: 8px 0;
  margin: 0 auto;
  font-size: calc(0.8rem + 0.2vw);
}
.card_text {
  width: 90%;
  margin: 5px 0 0;
  padding: 5px 10px 15px;
  font-size: calc(8px + 1vw);
}
.card_textOne {
  width: 70%;
}
@media screen and (min-width: 1024px) {
  :host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
  }
  .container {
    width: 450px;
  }
  .box1 {
    width: 95%;
    margin: 0 0 10px;
  }
  .picture {
    height: 105px;
    width: 105px;
    box-shadow: 0px 0px 20px var(--color5);
  }
  .alura,
  .oracle {
    height: 40px;
  }
  .programs {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 30px;
  }
  .card {
    width: 500px;
    margin: 5px auto;
  }
  .cards_title {
    padding: 5px 0 8px;
    margin: 0 auto;
    font-size: 22px;
  }
  .card_text {
    width: 95%;
    margin: 8px 5px;
    padding: 0;
    font-size: 15px;
  }
  .card_textOne {
    width: 80%;
  }
  .logo {
    margin: 4px 5px 0px;
    width: 25%;
  }
}
