.container_ec {
  padding: 20px 0;
}
.groups {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  overflow: hidden;
}

.producto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  background: linear-gradient(180deg, #04bf9d, #027368);
  margin: 25px auto 0;
  width: 94vw;
  height: fit-content;
  padding: 5px 10px;
}
span {
  font-size: 80%;
  padding: 15px 2px;
  color: yellow;
  font-weight: bolder;
}

.title_ec {
  font-size: 28px;
  padding: 3px 0 17px;
  width: 90%;
  text-align: center;
}

.imagen_producto {
  width: 150px;
}
p.precio_producto {
  font-size: 1rem;
  font-weight: bolder;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.descripcion {
  width: 55%;
}
.nroItems {
  outline: 2px solid var(--color6);
  width: 30%;
  text-align: center;
  margin: 0 10px;
}
.btn_ec {
  font-size: calc(0.8rem + 1.2vw);
  padding: 6px 9px;
}
/* -------------------------------- */

p {
  font-size: 16px;
  color: white;
  padding: 3px 2px;
}

/* ------ Conteiner Productos ---------- */
.div_otros_productos {
  padding: 0 0 10px;
}
.otros_productos {
  text-align: left;
  margin: 15px 10px 5px;
}
.sugerencias {
  width: 75vw;
  align-items: center;
  margin: 5px auto 10px;
}
.imagen_otro_producto {
  width: 80px;
}

.otros_productos_descripcion {
  width: 55%;
}
.p_otros,
.title_otros {
  font-size: 16px;
  text-align: center;
}
.title_otros {
  font-size: 18px;
  line-height: normal;
  color: black;
  padding: 3px 0 8px;
}
.p_otros {
  color: white;
}
