<app-header-ecommerce></app-header-ecommerce>
<section class="container_ec">
  <a class="btn_ec box" [routerLink]="['/proyectos', 'ecommerce', '']"
    >Volver</a
  >
  <div class="producto box">
    <h2 class="title_ec">{{ producto.nombre }}</h2>
    <figure>
      <img
        class="imagen_producto"
        src="{{ producto.src }}"
        alt="Imagen {{ producto.src }}"
      />
      <figcaption>
        <p class="precio_producto">
          Precio unitario:
          {{ nuevoPrecio(producto) | currency: "":"symbol":"2.0"
          }}<span *ngIf="producto.descuento"
            >-{{ producto.descuento | number }}%</span
          >
        </p>
      </figcaption>
    </figure>
    <div class="descripcion">
      <p *ngFor="let i of producto.descripcion">- {{ i }}</p>
      <form>
        <button type="button" (click)="nroPedidos('-')" class="btn_ec box">
          -
        </button>
        <input
          [formControl]="cantidadItems"
          class="nroItems input_text"
          type="number"
          min="1"
        />
        <button type="button" (click)="nroPedidos('+')" class="btn_ec box">
          +
        </button>
        <button type="button" (click)="agregarCarrito()" class="btn_ec box">
          Añadir al carrito
        </button>
      </form>
    </div>
  </div>

  <div>
    <h2 class="title_ec otros_productos">Otros productos:</h2>
    <figure
      class="producto box sugerencias"
      *ngFor="let i of sugerencias"
      [routerLink]="['/proyectos', 'ecommerce', 'producto', i.id]"
    >
      <img
        class="imagen_otro_producto"
        src="{{ i.src }}"
        alt="Imagen {{ i.src }}"
      />
      <figcaption class="otros_productos_descripcion">
        <p class="title_ec title_otros">{{ i.nombre }}</p>
        <p class="p_otros">${{ i.precio }}</p>
        <p class="p_otros">Ver Producto</p>
      </figcaption>
    </figure>
  </div>
</section>
<app-footer-ecommerce></app-footer-ecommerce>
